.text-center {
  background-color: rgba(0, 0, 0, 0.3);
}
.text-center a {
  color: coral;
}

footer {
  font-family: "Kiwi Maru", serif;
}

@media only screen and (max-width: 600px) {
  footer {
    margin-top: 25vh;
  }
}
